<div>
    <button (click)="goToForm()">js去ng-form</button>
    <a [routerLink]="['/ng-switch']">routerlink去ng-switch</a>
</div>
<h1>路由坑位start---------</h1>
<router-outlet></router-outlet>
<h1>路由坑位end-----------</h1>
<h1>服务 service</h1>
<app-ng-service></app-ng-service>
<h1>父子组件通信</h1>
<app-ng-father></app-ng-father>
<h1>ng-pipe</h1>
<app-ng-pipe/>
<h1>ng-if</h1>
<app-ng-if/>
<h1>ng-switch</h1>
<app-ng-switch></app-ng-switch>
<h1>ng-bind</h1>
<app-ng-bind></app-ng-bind>
<h1>事件绑定&双向数据绑定</h1>
<app-ng-event></app-ng-event>
<h1>表单</h1>
<app-ng-form></app-ng-form>
<h1>自定义表单验证</h1>
<app-ng-costom-form></app-ng-costom-form>